<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreateUIVCByCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CD2D5BC1DE1C8F400883D60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD2D5D51DE1C8F500883D60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD2D5E01DE1C8F500883D60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
